/home/gal/PycharmProjects/droneTest1/HalloPy/docs/face_and_hand.jpg
/home/gal/PycharmProjects/droneTest1/HalloPy/docs/face_and_hand_2.jpg
/home/gal/PycharmProjects/droneTest1/HalloPy/docs/testing_img.jpg
